body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
form{
    margin-top: 10%;
    background: rgba(76, 76, 76, 1);
    width: 400px;
    margin-left: 33%;
    border-radius: 4px;
}
#form{
    margin-left: 15%;
}
input[type="submit"]{
    margin-top: 1.5em;
}
label{
    font-weight: bold;
}