body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
form{
    margin-top: 10%;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    width: 400px;
    height: 60vh;
    margin-left: 33%;
    border-radius: 4px;
}
h1{
    margin-left: 15%;
    margin-top: 2em;
}
#form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15%;
    margin-top: 15px;
}
input[type="submit"]{
    margin-top: 2em;
}
label{
    font-weight: bold;
}